.imagenCabecera{
	width:70%;
	height:70%;
}

.tableCabecera{
	text-align:center;
	border:solid 0px black;
}

.fecha_impresion{
	color:gray;
}

table{
	width:100%;
	border-collapse:collapse;
	border:solid 1px gray;
}
th, td{
	padding-top:2px;
	padding-bottom:-2px;
	padding-left:3px;
}

.header_color th{
	color:red;
	text-align:left;
	background-color:#dfeefb;
	color:#2d6fb5;
	border:solid 1px #2d6fb5;
}

@frame footer_frame {           /* Static frame */
	-pdf-frame-content: footer_content;
	left: 50pt; width: 512pt; top: 772pt; height: 20pt;
}
