{% extends "structure.html" %}
{% load i18n %}
{% block content_body %}

<div class="row">
	<div class="col-md-12 col-lg-6 col-xl-6">
		<section class="panel panel-featured-left panel-featured-primary">
			<div class="panel-body">
				<div class="widget-summary">
					<div class="widget-summary-col widget-summary-col-icon">
						<div class="summary-icon bg-primary">
							<i class="fa fa-table"></i>
						</div>
					</div>
					<div class="widget-summary-col">
						<div class="summary">
							<h4 class="title">{% trans "Número de productos" %}</h4>
							<div class="info">
								<strong class="amount">{{ productos_number }}</strong>
							</div>
						</div>
						<div class="summary-footer">
							<a class="text-muted text-uppercase"></a>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	{% if user.is_superuser %}
		<div class="col-md-12 col-lg-6 col-xl-6">
			<section class="panel panel-featured-left panel-featured-primary">
				<div class="panel-body">
					<div class="widget-summary">
						<div class="widget-summary-col widget-summary-col-icon">
							<div class="summary-icon bg-danger">
								<i class="fa fa-users"></i>
							</div>
						</div>
						<div class="widget-summary-col">
							<div class="summary">
								<h4 class="title">{% trans "Número de usuarios" %}</h4>
								<div class="info">
									<strong class="amount">{{ users_number }}</strong>
								</div>
							</div>
							<div class="summary-footer">
								<a class="text-muted text-uppercase"></a>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	{% endif %}
</div>
{% for prod in list_products %}
	<hr />
	<h2>{{ prod.titulo }}</h2>
	
	{% autoescape off %}{{ prod.descripcion }}{% endautoescape %}

{% endfor %}
{% endblock %}
