{% load staticfiles %}
{% load i18n %}
<!doctype html>
<html class="fixed">
	<head>

		<!-- Basic -->
		<meta charset="UTF-8">

		<title>Riego :: {% trans "Inicio de sesión" %}</title>

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<!-- Web Fonts  -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="{%static "/assets/vendor/bootstrap/css/bootstrap.css" %}" />
		<link rel="stylesheet" href="{%static "/assets/vendor/font-awesome/css/font-awesome.css" %}" />
		<link rel="stylesheet" href="{%static "/assets/vendor/magnific-popup/magnific-popup.css" %}" />
		<link rel="stylesheet" href="{%static "/assets/vendor/bootstrap-datepicker/css/datepicker3.css" %}" />
	
		<!-- Theme CSS -->
		<link rel="stylesheet" href="{%static "/assets/stylesheets/theme.css" %}" />

		<!-- Skin CSS -->
		<link rel="stylesheet" href="{%static "/assets/stylesheets/skins/default.css" %}" />

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="{%static "/assets/stylesheets/theme-custom.css" %}" />

		<!-- Head Libs -->
		<script src="{%static "/assets/vendor/modernizr/modernizr.js" %}" ></script>
		<link rel="icon" href="{%static "/assets/images/logo_title.jpeg" %}">

	</head>
	<body>
		<!-- start: page -->
		<section class="body-sign">
			<div class="center-sign">
				<a href="/" class="logo pull-left">
					<img src="{% static "/assets/images/sti.jpg" %}" style="height:100px;" alt="stiirrigation" class="imagen_logo" />
				</a><br /><br />
				<div class="panel panel-sign">
					<div class="panel-title-sign mt-xl text-right">
						<h2 class="title text-uppercase text-bold m-none"><i class="fa fa-user mr-xs"></i> {% trans "Ingresar" %}</h2>
					</div>
					<div class="panel-body">
						<form action="/login/" method="post">
							{% csrf_token %}
							<div class="form-group mb-lg">
								<label>{% trans "Usuario" %}</label>
								<div class="input-group input-group-icon">
									<input name="usuario" type="text" class="form-control input-lg" autocomplete="off" />
									<span class="input-group-addon">
										<span class="icon icon-lg">
											<i class="fa fa-user"></i>
										</span>
									</span>
								</div>
							</div>

							<div class="form-group mb-lg">
								<div class="clearfix">
									<label class="pull-left">{% trans "Contraseña" %}</label>
								</div>
								<div class="input-group input-group-icon">
									<input name="contrasena" type="password" class="form-control input-lg" />
									<span class="input-group-addon">
										<span class="icon icon-lg">
											<i class="fa fa-lock"></i>
										</span>
									</span>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-8">
									<div class="checkbox-custom checkbox-default">
									</div>
								</div>
								<div class="col-sm-4 text-right">
									<button type="submit" class="btn btn-primary hidden-xs">{% trans "Ingresar" %}</button>
									<button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">{% trans "Ingresar" %}</button>
								</div>
							</div>
							
							{% if error != None %}
								<hr />
								<div id="messageBody" class="messageBody alert alert-danger">
									{% trans "Error en el ingreso, compruebe sus datos por favor" %}
								</div>
							{% elif success != None %}
								<hr />
								<div id="messageBody" class="messageBody alert alert-primary">
									{% trans "Gracias por visitarnos" %}
								</div>							
							{% elif logged != None %}
								<hr />
								<div id="messageBody" class="messageBody alert alert-primary">
									{% trans "Estás registrado, para continuar, inicia sesión." %}
								</div>
							{% endif %}
							
							<a href="/singup">{% trans "Registrarse" %}</a>

						</form>
					</div>
				</div>

				<p class="text-center text-muted mt-md mb-md">&copy; Copyright stiirrigation
			</div>
		</section>
		<!-- end: page -->

		<!-- Vendor -->
		<script src="{%static "/assets/vendor/jquery/jquery.js" %}"></script>
		<script src="{%static "/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js" %}"></script>
		<script src="{%static "/assets/vendor/bootstrap/js/bootstrap.js" %}"></script>
		<script src="{%static "/assets/vendor/nanoscroller/nanoscroller.js" %}"></script>
		<script src="{%static "/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js" %}"></script>
		<script src="{%static "/assets/vendor/magnific-popup/magnific-popup.js" %}"></script>
		<script src="{%static "/assets/vendor/jquery-placeholder/jquery.placeholder.js" %}"></script>
		
		<!-- Theme Base, Components and Settings -->
		<script src="{%static "/assets/javascripts/theme.js" %}"></script>
		
		<!-- Theme Custom -->
		<script src="{%static "/assets/javascripts/theme.custom.js" %}"></script>
		
		<!-- Theme Initialization Files -->
		<script src="{%static "/assets/javascripts/theme.init.js" %}"></script>

	</body>	
</html>
