{% extends "structure.html" %}
{% block content_body %}


<h2>{{ user.get_full_name }}</h2>
<hr />
<div class="container">
	<div class="row show-grid">
		<div class="col-md-6"><span class="show-grid-block"><b>Documento: </b></span>{{ user.documento }}</span></div>
		<div class="col-md-6"><span class="show-grid-block"><b>Género: </b>{{ user.genero }}</span></div>
	</div>
	
	<div class="row show-grid">
		<div class="col-md-6"><span class="show-grid-block"><b>Fecha nacimiento: </b>{{ user.modalidad }}</span></div>
		<div class="col-md-6"><span class="show-grid-block"><b>Lugar nacimiento: </b>{{ user.fecha_nacimiento }}</span></div>
	</div>

	<div class="row show-grid">
		<div class="col-md-6"><span class="show-grid-block"><b>Teléfono 1: </b>{{ user.telefono1 }}</span></div>
		<div class="col-md-6"><span class="show-grid-block"><b>Teléfono 2: </b>{{ user.telefono2 }}</span></div>
	</div>
	<div class="row show-grid">
		<div class="col-md-6"><span class="show-grid-block"><b>Dirección de residencia: </b>{{ user.direccion_residencia }}</span></div>
		<div class="col-md-6"><span class="show-grid-block"><b>Ciudad de residencia: </b>{{ user.ciudad_residencia }}</span></div>
	</div>
	<div class="row show-grid">
		<div class="col-md-6"><span class="show-grid-block"><b>Fecha de ingreso al programa: </b>{{ user.fecha_ingreso_programa }}</span></div>
		<div class="col-md-6"><span class="show-grid-block"><b>Profesión: </b>{{ user.profesion }}</span></div>
	</div>
</div>


{% endblock %}
