{% extends "structure.html" %}
{% load bootstrap4 %}
{% block content_body %}

	<div class="btn-group dropright" role="group" aria-label="First group">
		<a href="/user/edit_pass" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<i class="fa fa-key"></i> Change Password
		</a>
		<div class="dropdown-menu" style="width: 500px;">
			<form class="px-4 py-3" method="post">
				{% csrf_token %}
				<div class="form-group">
					<label for="Passor">Current Password</label>
					<input type="password" name="current_password" class="form-control" id="Passor" placeholder="*************" value="">
				</div>
				<div class="dropdown-divider"></div>
				<div class="form-group">
					<label for="Pass">New Password</label>
					<input type="password" name="password1" class="form-control" id="Pass" placeholder="*************" value="">
				</div>
				<div class="form-group">
					<label for="Pass2">Repeat password</label>
					<input type="password" name="password2" class="form-control" id="Pass2" placeholder="*************" value="">
				</div>
				<input type="hidden" value="change" name="change_password">
				<div class="dropdown-divider"></div>
				<button type="submit" class="btn btn-primary">Change password</button>
			</form>
		</div>
	</div>
	<hr />

<form method="post" action="{{url}}">
	{% csrf_token %}
	
	{{ form_user.media }}
	<div class="row justify-content-start">	
		{% for field in form_user %}	
			{% bootstrap_field field form_group_class="col-md-12" field_class="col-md-12" size="small" %}
		{% endfor %}	
	</div>
	<hr />
	<input type="hidden" name="tipoForm" value="editData">
	<input type="hidden" name="object_id" value="{{ user.pk }}">
    {% buttons %}
		<button class="btn btn-success" type="submit"><i class="fa fa-save"></i> Save data</button>
	{% endbuttons %}
</form>

	<hr />
{% endblock %}
