{% extends "structure.html" %}
{% load bootstrap4 %}
{% block content_body %}
	<h2>Project data "{{project.title}}"</h2>
	<a href="/projects/input_matrix/{{project.pk}}" class="btn btn-warning"><i class="fa fa-table"></i> View input matrix</a>
	<hr />
	{% if is_project_admin %}
		<form method="post" action='{{ form_action }}'>
			{% csrf_token %}
			
			{{ form_edit.media }}
			<div class="row justify-content-start">	
				{% for field in form_edit %}	
					{% bootstrap_field field form_group_class="col-md-12" field_class="col-md-12" size="small" %}
				{% endfor %}	
			</div>
			<input type="hidden" name="tipoForm" value="editData">
			<input type="hidden" name="object_id" value="{{ project.pk }}">
			<hr />
			{% buttons %}
				<button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Edit data</button>
			{% endbuttons %}
		</form>
		<hr />
		<div class="container">
			<div class="row show-grid">
				<div class="col-md-6"><span class="show-grid-block"><b>Modification date: </b>{{ project.modification_date }}</span></div>
				<div class="col-md-6"><span class="show-grid-block"><b>Creation date: </b>{{ project.creation_date }}</span></div>
			</div>
		</div>
	{% else %}
		<div class="container">
			<div class="row show-grid">
				<div class="col-md-6"><span class="show-grid-block"><b>Title: </b>{{ project.title }}</span></div>
				<div class="col-md-6"><span class="show-grid-block"><b>Is Public?: </b>{{ project.is_public }}</span></div>
			</div>
			<div class="row show-grid">
				<div class="col-md-6"><span class="show-grid-block"><b>Keywords: </b>{{ project.keywords }}</span></div>
				<div class="col-md-6"><span class="show-grid-block"><b>Observations: </b>{{ project.observations }}</span></div>
			</div>
		
			<div class="row show-grid">
				<div class="col-md-6"><span class="show-grid-block"><b>Modification date: </b>{{ project.modification_date }}</span></div>
				<div class="col-md-6"><span class="show-grid-block"><b>Creation date: </b>{{ project.creation_date }}</span></div>
			</div>
		</div>
	{% endif %}
	<hr />
	
	
	<h2>Project users</h2>
	{% if is_project_admin %}
		<button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal"><i class='fa fa-plus'></i> Add user</button>
	{% endif %}
	<hr />
	{% if pro_user|length > 0 %}
		{% for pu in pro_user %}
			<div class="container">
				<div class="row show-grid">
					<div class="col-md-4"><span class="show-grid-block"><b>User: </b>{{ pu.user }}</span></div>
					<div class="col-md-4"><span class="show-grid-block"><b>Mode: </b>{{ pu.mode }}</span></div>
					{% if is_project_admin %}
						<div class="col-md-4"><span class="show-grid-block"><b><button title="Delete user" class='btn btn-sm btn-danger delete_user_project' pu_id="{{ pu.pk }}"><i class='fa fa-eraser'></i></button></b></span></div>
					{% endif %}
				</div>		
			</div>
		{% endfor %}
	{% else %}
		You are the unique user in this project.
	{% endif %}
	
	
	<div class="modal fade" id="myModal">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Add user</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<!-- Modal body -->			
				<form method="post" action='{{ form_action }}'>
					{% csrf_token %}
					<div class="modal-body">
						<div class="row justify-content-start">
						{{ form_add.media }}
						{% for field in form_add %}	
							{% bootstrap_field field form_group_class="col-md-12" label_class="col-md-4" field_class="col-md-8" size="small" layout="horizontal" %}
						{% endfor %}
						</div>
					</div>
					<!-- Modal footer -->
					<div class="modal-footer">					
						<!-- Hidden Params -->
						<input type="hidden" name="tipoForm" value="addData">
						<input type="hidden" name="object_id" value="{{ project.pk }}">				
						<!-- Buttons -->				
						<button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Add</button>
						<button type="reset" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> Cancel</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	
	<div class="modal fade" id="modalDelete">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Delete register</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<!-- Modal body -->			
				<form method="post" action='{{ form_action }}'>
					{% csrf_token %}
					<div class="modal-body">
						Are you sure of delete this?
					</div>
					
					<!-- Modal footer -->
					<div class="modal-footer">					
						<!-- Hidden Params -->
						<input type="hidden" name="tipoForm" value="deleteData">
						<input type="hidden" name="object_id" id="delete_object_id" value="">
						<input type="hidden" name="project_id" value="{{ project.pk }}">
						<!-- Buttons -->				
						<button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> yes, delete</button>
						<button type="reset" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-ban"></i> cancel</button>
					</div>
				</form>
			</div>
		</div>
	</div>

{% endblock %}
