{% load staticfiles %}
<!doctype html>
<html class="fixed">
	<head>

		<!-- Basic -->
		<meta charset="UTF-8">

		<title>Riego :: Login</title>

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<!-- Web Fonts  -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="{%static "/assets/vendor/bootstrap/css/bootstrap.css" %}" />
		<link rel="stylesheet" href="{%static "/assets/vendor/font-awesome/css/font-awesome.css" %}" />
		<link rel="stylesheet" href="{%static "/assets/vendor/magnific-popup/magnific-popup.css" %}" />
		<link rel="stylesheet" href="{%static "/assets/vendor/bootstrap-datepicker/css/datepicker3.css" %}" />

		<!-- Theme CSS -->
		<link rel="stylesheet" href="{%static "/assets/stylesheets/theme.css" %}" />

		<!-- Skin CSS -->
		<link rel="stylesheet" href="{%static "/assets/stylesheets/skins/default.css" %}" />

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="{%static "/assets/stylesheets/theme-custom.css" %}" />

		<!-- Head Libs -->
		<script src="{%static "/assets/vendor/modernizr/modernizr.js" %}" ></script>
		<link rel="icon" href="{%static "/assets/images/logo_title.jpeg" %}">

	</head>
	<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
   	
   	<section class="body-sign">
			<div class="center-sign">

				<div class="panel panel-sign">
					<div class="panel-title-sign mt-xl text-right">
						<h2 class="title text-uppercase text-bold m-none"><i class="fa fa-user mr-xs"></i> Sign Up</h2>
					</div>
					<div class="panel-body">
						<form method="post" action="/singup/" id="singup_form" autocomplete="off">
							{% csrf_token %}
				            <div class="login-form-head">
				                <h4>Registrarse</h4>
				                <p>Los datos con asterísco son obligatorios.</p>
				            </div>
				            {% if error %}
				            	<div id="messageBody" class="messageBody alert alert-danger">
									{{ error }}
								</div>
				            {% endif %}
				            <div class="login-form-body">
				            {% load bootstrap4 %}
					            {{ form.media }}
				            	{% for field in form %}
									{% bootstrap_field field form_group_class="form-gp" field_class="" %}
								{% endfor %}
								<hr />
				                <div class="submit-btn-area">
				                    <button id="form_submit" class="btn btn-info" type="submit">Registrarse <i class="ti-arrow-right"></i></button>
				                </div>
				                <hr />
				                <div class="form-footer text-center mt-5">
				                    <p class="text-muted">¿Ya tienes una cuenta? <a href="/index">Inicia sesión</a></p>
				                </div>
				            </div>
				        </form>
					</div>
				</div>
	
			</div>
		</section>
   	
	   	

    <!-- jquery latest version -->
    <script src="{%static "/assets/vendor/jquery/jquery.js" %}"></script>
	<script src="{%static "/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js" %}"></script>
	<script src="{%static "/assets/vendor/bootstrap/js/bootstrap.js" %}"></script>
	<script src="{%static "/assets/vendor/nanoscroller/nanoscroller.js" %}"></script>
	<script src="{%static "/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js" %}"></script>
	<script src="{%static "/assets/vendor/magnific-popup/magnific-popup.js" %}"></script>
	<script src="{%static "/assets/vendor/jquery-placeholder/jquery.placeholder.js" %}"></script>
	
	<!-- Theme Base, Components and Settings -->
	<script src="{%static "/assets/javascripts/theme.js" %}"></script>
	
	<!-- Theme Custom -->
	<script src="{%static "/assets/javascripts/theme.custom.js" %}"></script>
	
	<!-- Theme Initialization Files -->
	<script src="{%static "/assets/javascripts/theme.init.js" %}"></script>

    <script type="text/javascript">
    	$(document).ready(function(){
    		$("#singup_form").submit(function(){
    			$("#form_submit").attr("disabled", "disabled");
    		});	
    	});
    </script>
</body>

</html>
