{% load staticfiles %}
{% load i18n %}
<!doctype html>
<html class="fixed">
	<head>

		<!-- Basic -->
		<meta charset="UTF-8">

		<title>Stiirrigation :: {{ page_title }}</title>
		<meta name="keywords" content="general morphological analisis, uniquindío, ingeniería electrónica" />
		<meta name="description" content="Page for admin the riego">
		<meta name="author" content="ingelect">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<!-- Web Fonts  -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="{% static "/assets/vendor/bootstrap/css/bootstrap.css" %}" />
		<link rel="stylesheet" href="{% static "/assets/vendor/font-awesome/css/font-awesome.css" %}" />
		<link rel="stylesheet" href="{% static "/assets/vendor/magnific-popup/magnific-popup.css" %}" />
		<link rel="stylesheet" href="{% static "/assets/vendor/bootstrap-datepicker/css/datepicker3.css" %}" />

		<!-- Theme CSS -->
		<link rel="stylesheet" href="{% static "/assets/stylesheets/theme.css" %}" />
		<link rel="stylesheet" href="{% static "/assets/vendor/pnotify/pnotify.custom.css" %}" />

		<!-- Skin CSS -->
		<link rel="stylesheet" href="{% static "/assets/stylesheets/skins/default.css" %}" />

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="{% static "/assets/stylesheets/theme-custom.css" %}">

		<!-- Head Libs -->
		<script src="{% static "/assets/vendor/modernizr/modernizr.js" %}"></script>

		{% for file in css_files %}
			<link href="{% static "/custom_assets/css/"|add:file %}" rel="stylesheet"></link>
		{% endfor %}
		<script src="{% static "/assets/vendor/jquery/jquery.js" %}"></script>
		<script src="{% static "/assets/vendor/ios7-switch/ios7-switch.js" %}"></script>
		
		<link rel="icon" href="{%static "/assets/images/logo_title.jpeg" %}">
	</head>
	<body>
		<section class="body">

			<!-- start: header -->
			<header class="header">
				<div class="logo-container">
					<a href="/index/" class="logo">
						<img src="{%static "/assets/images/sti.jpg" %}" height="35" alt="Riego logo " />
					</a>
					<div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
						<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
					</div>
				</div>
			
				<!-- start: search & user box -->
				<div class="header-right">			
					<form action="/change/lang/" class="search nav-form" method="post">
						{% csrf_token %}
						<div class="row">
							<div class="col-md-8">
								<select name="lang" class="form-control">
									<option value="es" {% if lang == "es" %} selected {% endif %}>{% trans "Español" %}</option>
									<option value="en" {% if lang == "en" %} selected {% endif %}>{% trans "Inglés" %}</option>
								</select>
							</div>
							<button class="btn btn-sm btn-info col-md-2"><i class="fa fa-pencil"></i></button>
						</div>
					</form>
					
			
					<span class="separator"></span>
			
					<div id="userbox" class="userbox">
						<a href="#" data-toggle="dropdown">
							<figure class="profile-picture">			
								<h4 class="fa fa-user"></h4>
							</figure>
							<div class="profile-info" data-lock-name="John Doe" data-lock-email="johndoe@okler.com">
								<span class="name">{{ user.get_full_name }}</span>
								{% if user.is_superuser %}
									<span class="role">{% trans "Administrador" %}</span>
								{% else %}
									<span class="role">{% trans "Usuario" %}</span>
								{% endif %}
							</div>			
							<i class="fa custom-caret"></i>
						</a>
			
						<div class="dropdown-menu">
							<ul class="list-unstyled">
								<li class="divider"></li>
								<li>
									<a role="menuitem" tabindex="-1" href="/usuarios/view/{{user.pk}}"><i class="fa fa-user"></i> {% trans "Mi perfil" %}</a>
								</li>
								<li>
									<a role="menuitem" tabindex="-1" href="/logout/"><i class="fa fa-power-off"></i> {% trans "Cerrar sesión" %}</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- end: search & user box -->
			</header>
			<!-- end: header -->

			<div class="inner-wrapper">
				<!-- start: sidebar -->
				<aside id="sidebar-left" class="sidebar-left">
				
					<div class="sidebar-header">
						<div class="sidebar-title" style="color:white">
							{% trans "Menú" %}
						</div>
						<div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
							<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
						</div>
					</div>
				
					<div class="nano">
						<div class="nano-content">
							<nav id="menu" class="nav-main" role="navigation">
								<ul class="nav nav-main">
									<li>
										<a href="/index/">
											<i class="fa fa-home" aria-hidden="true"></i>
											<span>{% trans "Inicio" %}</span>
										</a>
									</li>
									{% for men in menu %}
						                <li>
						                	{% if men.url != "" %}
						                   		<a href="{{ men.url }}"><i class="{{ men.icon }}"></i><span>{{ men.label }}</span></a>
						                    {% else %}
							                    <a href="javascript:void(0)" aria-expanded="true"><i class="{{ men.icon }}"></i><span>{{ men.label }}</span></a>
								                <ul class="collapse">
								                    {% for m in men.submenu %}
								                    	<li><a href="{{ m.url }}"><i class="{{ m.icon }}"></i> {{ m.label }}</a></li>
								                    {% endfor %}
								                </ul>
						                    {% endif %}
						                </li>
				                    {% endfor %}								
								</ul>
							</nav>
				
							<hr class="separator" />
							<div class="sidebar-widget widget-tasks">
								<div class="widget-content">
									&copy; {% now "Y" %}, Stiirrigation
								</div>
							</div>
						</div>
				
					</div>
				
				</aside>
				<!-- end: sidebar -->

				<section role="main" class="content-body">
					<header class="page-header">
						<h2>{{ page_title }}</h2>
					
						<div class="right-wrapper pull-right">
							<ol class="breadcrumbs">
								{% for br in breadcrumb %}
                            		{% if br.url == "" %}
		                            	<li><span>{{br.label}}</span></li>                            		
                            		{% else %}
                            			{% if br.url == "/" %}
			                            	<li><a href="/index">{{br.label}}</a></li>
			                            {% else %}
			                            	<li><a href="{{ br.url }}">{{br.label}}</a></li>
			                            {% endif %}
                            		{% endif %}
                                {% endfor %}
							</ol>					
							<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
						</div>
					</header>

					<!-- start: page -->
						<div class="col-md-12">
							<section class="panel">
								<div class="panel-body">
									<div id="generalLoading">{% trans "Cargando" %}</div>
									{{last_error}}
									{% if can_view_page %}
										{% for tem in aditional_templates %}
											{% include tem %}
										{% endfor %}
										{% block content_body %}
										{% endblock %}
									{% else %}
										{% trans "No se puede mostrar la página solicitada" %}
									{% endif %}
								</div>
							</section>
						</div>
					<!-- end: page -->
				</section>
			</div>

			<aside id="sidebar-right" class="sidebar-right">
				<div class="nano">
					<div class="nano-content">
						<a href="#" class="mobile-close visible-xs">
							{% trans "Colapsar" %} <i class="fa fa-chevron-right"></i>
						</a>
			
						<div class="sidebar-right-wrapper">
			
							<div class="sidebar-widget widget-calendar">
								<h6>{% trans "Calendario" %}</h6>
								<div data-plugin-datepicker data-plugin-skin="dark" ></div>
							</div>
						</div>
					</div>
				</div>
			</aside>
		</section>

		<!-- Vendor -->
		<script src="{% static "/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js" %}"></script>
		<script src="{% static "/assets/vendor/bootstrap/js/bootstrap.js" %}"></script>
		<script src="{% static "/assets/vendor/nanoscroller/nanoscroller.js" %}"></script>
		<script src="{% static "/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js" %}"></script>
		<script src="{% static "/assets/vendor/magnific-popup/magnific-popup.js" %}"></script>
		<script src="{% static "/assets/vendor/jquery-placeholder/jquery.placeholder.js" %}"></script>
		
		<script src="{% static "/assets/vendor/pnotify/pnotify.custom.js" %}"></script>
		<!-- Theme Base, Components and Settings -->
		<script src="{% static "/assets/javascripts/theme.js" %}"></script>
		
		<!-- Theme Custom -->
		<script src="{% static "/assets/javascripts/theme.custom.js" %}"></script>
		
		<!-- Theme Initialization Files -->
		<script src="{% static "/assets/javascripts/theme.init.js" %}"></script>
		
		<script src="{% static "/custom_assets/js/page_handler.js" %}"></script>
		
		{% for file in js_files%}
			<script src="{% static "/custom_assets/js/"|add:file %}"></script>
		{% endfor %}
		
	</body>
</html>
