{% extends "structure.html" %}
{% load bootstrap4 %}

{% block content_body %}

{% if success != None %}
	{% if success %}
		<div id="messageBody" class="messageBody alert alert-success">
			Se ha editado con éxito
		</div>
	{% else %}
		<div id="messageBody" class="messageBody alert alert-danger">
			Error al procesar petición
		</div>
	{% endif %}
{% endif %}

<form method="post" action="{{ form_action }}" {{target}} id="formForm" enctype="multipart/form-data">
	{% csrf_token %}
	
	
	<ul class="nav nav-tabs" id="myTab" role="tablist">
		{% for item in forms %}
			{% if item.href != "alone" %}
					{% if item == forms|first %}
						<li class="nav-item active">						
					{% else %}
						<li>
					{% endif %}
					<a class="nav-link" data-toggle="tab" href="#{{item.href}}" role="tab" aria-controls="{{item.href}}" aria-selected="true">{{item.tab}}</a>
				</li>
			{% endif %}
		{% endfor %}
		<!--li class="nav-item">
			<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Información adicional</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Filtros</a>
		</li-->
	</ul>

	<div class="tab-content" id="myTabContent" style="min-height:200px;">
		{% for item in forms %}
			{{ item.form.media }}
			{% if item.href != "alone" %}
				{% if item == forms|first %}
					<div class="tab-pane active" id="{{ item.href }}" role="tabpanel" aria-labelledby="{{ item.href }}-tab">
				{% else %}
					<div class="tab-pane" id="{{ item.href }}" role="tabpanel" aria-labelledby="{{ item.href }}-tab">
				{% endif %}
					<br />
					<div class="row justify-content-start">
					{% if item.completa %}
						{% for field in item.form %}	
							{% bootstrap_field field form_group_class="col-md-12" label_class="col-md-3" field_class="col-md-9" size="small" layout="horizontal" %}
						{% endfor %}
					{% else %}
						{% for field in item.form %}	
							{% bootstrap_field field form_group_class="col-md-6" field_class="col-md-8" label_class="col-md-4" size="small" layout="horizontal" %}
						{% endfor %}				
					{% endif %}
					</div>
				</div>
			{% endif %}
		{% endfor %}
		
	</div>
	
	{% for item in forms %}
		{% if item.href == "alone" %}
			<hr />
			<div class="row justify-content-start">		
			{% for field in item.form %}	
				{% bootstrap_field field form_group_class="col-md-12" field_class="col-md-8" label_class="col-md-4" size="small" layout="horizontal" %}
			{% endfor %}
			</div>
		{% endif %}
	{% endfor %}
	
	<hr />
	<input type="hidden" name="tipoForm" value="{{ tipo_form }}">
	<input type="hidden" name="object_id" value="{{ object_id }}">
    {% buttons %}
		<button id="buttonSendForm" class="btn btn-success {% if target == "" %} loadButton {% endif %}" type="submit"><i class="fa fa-check"></i> Realizar petición</button>
		<a class="btn btn-danger" href="{{form_action}}"><i class="fa fa-remove"></i> Cancelar y volver atrás</a>
	{% endbuttons %}
</form>
{% if ayuda %}
	<hr />
	<div id="messageBody" class="messageBody alert alert-primary">
		<h4>Ayuda</h4>
		{% autoescape off %}{{ ayuda }}{% endautoescape %}
	</div>
{% endif %}

{% endblock %}
