{% extends "structure.html" %}
{% load i18n %}
{% block content_body %}


<div class="row">
	<div class="col-lg-12">
	    <div class="row">
	        <div class="col-md-6 mt-5 mb-3">
	        	<a href="#">
			        <div class="card">
			            <div class="seo-fact sbg1">
			                <div class="p-4 d-flex justify-content-between align-items-center">
			                    <div class="seofct-icon"><i class="fa fa-book"></i> {% trans "Número de productos" %}</div>
			                    <h2>{{ productos_number }}</h2>
			                </div>
			                <canvas id="seolinechart1" height="50"></canvas>
			            </div>
			        </div>
			    </a>
	        </div>
	        {% if user.is_superuser %}
			    <div class="col-md-6 mt-md-5 mb-3">
			    	<a href="#">
					    <div class="card">
					        <div class="seo-fact sbg2">
					            <div class="p-4 d-flex justify-content-between align-items-center">
					                <div class="seofct-icon"><i class="fa fa-flag"></i> {% trans "Número de usuarios" %}</div>
					                <h2>{{ users_number }}</h2>
					            </div>
					            <canvas id="seolinechart2" height="50"></canvas>
					        </div>
					    </div>
					</a>
			    </div>
	        {% endif %}
	    </div>
	</div>	
</div>


{% for prod in list_products %}
	<hr />
	<div class="card">
		<div class="card-body">
			<h2>Producto: {{ prod.titulo }}</h2>
			
			{% autoescape off %}{{ prod.descripcion }}{% endautoescape %}
			<hr />
			<p>Editado en {{ prod.fecha_edicion }}, <b>App:</b> {{ prod.url }} </p>
		</div>
	</div>
{% endfor %}
{% endblock %}
