<!doctype html>
<html class="no-js" lang="es">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Stiirrigation :: Ingresar</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load staticfiles %}
	<link rel="shortcut icon" type="image/png" href="assets/images/icon/favicon.ico">
	<link rel="stylesheet" href="{% static "/assets/css/bootstrap.min.css" %}">
	<link rel="stylesheet" href="{% static "/assets/css/font-awesome.min.css" %}">
	<link rel="stylesheet" href="{% static "/assets/css/themify-icons.css" %}">
	<link rel="stylesheet" href="{% static "/assets/css/metisMenu.css" %}">
	<link rel="stylesheet" href="{% static "/assets/css/owl.carousel.min.css" %}">
	<link rel="stylesheet" href="{% static "/assets/css/slicknav.min.css" %}">
	<!-- amchart css -->
	<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
	<!-- others css -->
	<link rel="stylesheet" href="{% static "/assets/css/typography.css" %}">
	<link rel="stylesheet" href="{% static "/assets/css/default-css.css" %}">
	<link rel="stylesheet" href="{% static "/assets/css/styles.css" %}">
	<link rel="stylesheet" href="{% static "/assets/css/responsive.css" %}">
	<!-- modernizr css -->
	<script src="{% static "/assets/js/vendor/modernizr-2.8.3.min.js" %}"></script>
	<link rel="icon" href="{% static "/assets/images/icon/page.png" %}">
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- login area start -->
    
    <div class="login-area login-bg">
        <div class="container">
            <div class="login-box ptb--100">
                <form action="/login/" method="post">
					{% csrf_token %}
                    <div class="login-form-head">
                        <h4>Ingresar a stiirrigation</h4>
                        <p>¡Bienvenido! ingresa y administra tus datos en stiirrigation</p>
                    </div>
                    <div class="login-form-body">
                    	{% if error != None %}
							<div id="messageBody" class="messageBody alert alert-danger">
								Error al ingresar, por favor rectifique sus datos e intente de nuevo
							</div>
						{% elif success != None %}
							<div id="messageBody" class="messageBody alert alert-primary">
								Gracias por visitarnos
							</div>
						{% endif %}
						{% if logged != None %}						
							<div id="messageBody" class="messageBody alert alert-success">
								¡En hora buena!, Ya estás registrado, inicia sesión para continuar
							</div>
						{% endif %}
						<hr />
                        <div class="form-gp">
                            <label for="usuario">Usuario</label>
                            <input type="text" id="usuario" name="usuario">
                            <i class="ti-user"></i>
                        </div>
                        <div class="form-gp">
                            <label for="contrasena">Contraseña</label>
                            <input type="password" id="contrasena" name="contrasena">
                            <i class="ti-lock"></i>
                        </div>
                        <div class="row mb-4 rmber-area">
                            <div class="col-6">
                                
                            </div>
                            <div class="col-6 text-right">
                                <a href="/recover/pass">¿Olvidó su contraseña?</a>
                            </div>
                        </div>
                        <div class="submit-btn-area">
                            <button id="form_submit" type="submit">Ingresar <i class="ti-arrow-right"></i></button>
                        </div>
                        
                        
                        <div class="form-footer text-center mt-5">
                            <p class="text-muted"><a href="/singup">Registrarse</a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- login area end -->

    <!-- jquery latest version -->
    <script src="{% static "/assets/js/vendor/jquery-2.2.4.min.js" %}"></script>
    <!-- bootstrap 4 js -->
    <script src="{% static "/assets/js/popper.min.js" %}"></script>
    <script src="{% static "/assets/js/bootstrap.min.js" %}"></script>
    <script src="{% static "/assets/js/owl.carousel.min.js" %}"></script>
    <script src="{% static "/assets/js/metisMenu.min.js" %}"></script>
    <script src="{% static "/assets/js/jquery.slimscroll.min.js" %}"></script>
    <script src="{% static "/assets/js/jquery.slicknav.min.js" %}"></script>
    
    <!-- others plugins -->
    <script src="{% static "/assets/js/plugins.js" %}"></script>
    <script src="{% static "/assets/js/scripts.js" %}"></script>
</body>

</html>

