{% extends "structure.html" %}
{% block content_body %}
{% load staticfiles %}
{% load bootstrap4 %}
{% load i18n %}

	<div class="modal fade" id="addProducto">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">{% trans "Añadir producto al usuario" %}</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<form method="post" action="{{ form_action }}" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="modal-body">
						<div class="row justify-content-start">
						{% for field in add_producto_form %}
							{% bootstrap_field field form_group_class="col-md-12" label_class="col-md-4" field_class="col-md-8" size="small" layout="horizontal" %}
						{% endfor %}
						</div>
					</div>
					<div class="modal-footer">
						<input type="hidden" name="tipoForm" value="addData">
						<input type="hidden" name="tipoEdit" value="add_producto">
						<input type="hidden" name="usuario" value="{{ user_data.pk }}">
						<button type="submit" class="btn btn-success"><i class="fa fa-save"></i> {% trans "añadir" %}</button>
						<button type="reset" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> {% trans "Cancelar" %}</button>
					</div>
				</form>
			</div>
		</div>
	</div>

{% if user.is_superuser %}
	<div class="modal fade" id="deleteProducto">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">{% trans "Eliminar producto" %}</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<form method="post" action="{{ form_action }}" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="modal-body">
						{% trans "¿Está seguro que desea eliminar este producto?, introduzca la contraseña de seguridad" %}
						<hr />
						<input type="password" class="form-control" name="pass" value="" placeholder="Contraseña de seguridad">
					</div>
					<div class="modal-footer">
						<input type="hidden" name="tipoForm" value="removeData">
						<input type="hidden" name="tipoDelete" value="delete_producto">
						<input type="hidden" name="usuario" value="{{ user_data.pk }}">
						<input type="hidden" id="producto_id_id" name="producto" value="">
						<button type="submit" class="btn btn-danger"><i class="fa fa-save"></i> {% trans "Eliminar" %}</button>
						<button type="reset" class="btn btn-info" data-dismiss="modal"><i class="fa fa-ban"></i> {% trans "Cancelar" %}</button>
					</div>
				</form>
			</div>
		</div>
	</div>


	<div class="modal fade" id="editProducto">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">{% trans "Modificar códigos" %}</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<form method="post" action="{{ form_action }}" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="modal-body">
						{% trans "Esta acción modificará los códigos de ingreso, lectura y escritura, ¿está seguro de realizar esta acción?" %}
						<hr />
						<input type="password" class="form-control" name="pass" value="" placeholder="Contraseña de seguridad">
					</div>
					<div class="modal-footer">
						<input type="hidden" name="tipoForm" value="editData">
						<input type="hidden" name="tipoEdit" value="edit_producto">
						<input type="hidden" name="usuario" value="{{ user_data.pk }}">
						<input type="hidden" id="producto_id_id_edit" name="producto" value="">
						<button type="submit" class="btn btn-info"><i class="fa fa-save"></i> {% trans "Modificar" %}</button>
						<button type="reset" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> {% trans "Cancelar" %}</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endif %}


{% if form_change_pass %}
	{{ form_change_pass.media }}
	<div class="modal fade" id="editContrasena">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Editar contaseña del usuario</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<form method="post" action="{{ form_action }}">
					{% csrf_token %}
					<div class="modal-body">
						<div id="messageBody" class="messageBody alert alert-primary">
							Ingrese la nueva contraseña en 2 veces para evitar errores.
						</div>
						<div class="row justify-content-start">
						{% for field in form_change_pass %}	
							{% bootstrap_field field form_group_class="col-md-12" label_class="col-md-4" field_class="col-md-8" size="small" layout="horizontal" %}
						{% endfor %}
						</div>
					</div>
					<div class="modal-footer">
						<input type="hidden" name="tipoForm" value="editData">
						<input type="hidden" name="tipoEdit" value="password">
						<input type="hidden" name="object_id" value="{{ user_data.pk }}">
						<button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Editar</button>
						<button type="reset" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endif %}

{% if form_edit_user %}
	{{ form_edit_user.media }}
	<div class="modal fade" id="editUser">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Editar datos del usuario</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<form method="post" action="{{ form_action }}">
					{% csrf_token %}
					<div class="modal-body">
						<div class="row justify-content-start">
						{% for field in form_edit_user %}	
							{% bootstrap_field field form_group_class="col-md-12" label_class="col-md-4" field_class="col-md-8" size="small" layout="horizontal" %}
						{% endfor %}
						</div>
					</div>
					<div class="modal-footer">
						<input type="hidden" name="tipoForm" value="editData">
						<input type="hidden" name="tipoEdit" value="user_data">
						<input type="hidden" name="object_id" value="{{ user_data.pk }}">
						<button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Editar</button>
						<button type="reset" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
{% endif %}




{% if form_edit_avatar %}
	{{ form_edit_avatar.media }}
	<div class="modal fade" id="editAvatar">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Editar avatar usuario</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<form method="post" action="{{ form_action }}" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="modal-body">
						<div class="row justify-content-start">
						{% for field in form_edit_avatar %}	
							{% bootstrap_field field form_group_class="col-md-12" label_class="col-md-4" field_class="col-md-8" size="small" layout="horizontal" %}
						{% endfor %}
						</div>
					</div>
					<div class="modal-footer">
						<input type="hidden" name="tipoForm" value="editData">
						<input type="hidden" name="tipoEdit" value="user_avatar">
						<input type="hidden" name="object_id" value="{{ user_data.pk }}">
						<button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Editar</button>
						<button type="reset" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endif %}

<div class="row">
	<div class="col-md-4">
		<div class="card">
			<div class="card-body">
				{% if user_data.avatar != None and user_data.avatar != "" %}
					<img src="{{ user_data.avatar.url }}" class="col-md-12">
				{% else %}
					<img src="{% static "/assets/images/profile/person-icon.png" %}" class="col-md-12">				
				{% endif%}
				{% if form_edit_avatar %}
					<a href="#" data-toggle="modal" data-target="#editAvatar" class="btn btn-info btn-sm" title="Editar foto de perfil"> <i class="fa fa-pencil"></i> </a>
				{% endif %}
				<hr />
				<h5>{{ user_data.get_full_name }}</h5>
			</div>
		</div>
	</div>
	
	<div class="col-md-8">
		<div class="card">
			<div class="card-body">
				<h4 class="header-title">Datos Personales {% if son_mios %} [Mi perfil] {% endif %}</h4>
				
				<div class="row">
					<div class="col-md-4 text-right"><b><i class="fa fa-user"></i> Nombre de usuario: </b></div><div class="col-md-8"></span>{{ user_data.username }}</div>
				</div>
				
				<div class="row">
					<div class="col-md-4 text-right"><b><i class="fa fa-venus-mars"></i> Género: </b></div><div class="col-md-8">{{ user_data.sexo }}</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-right"><b><i class="ti-email"></i> Email: </b></div><div class="col-md-8">{{ user_data.email }}</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-right"><b><i class="ti-email"></i> Dirección: </b></div><div class="col-md-8">{{ user_data.direccion }}</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-right"><b><i class="fa fa-phone"></i> Teléfono: </b></div><div class="col-md-8">{{ user_data.celular1 }}</div>
				</div>
				
				<div class="row">
					<div class="col-md-4 text-right"><b><i class="fa fa-phone"></i> Teléfono 2: </b></div><div class="col-md-8">{{ user_data.celular2 }}</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-right"><b><i class="fa fa-calendar"></i> Fecha registro: </b></div><div class="col-md-8">{{ user_data.date_joined }}</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-right"><b><i class="fa fa-calendar-o"></i> Fecha de último ingreso: </b></div><div class="col-md-8">{{ user_data.last_login }}</div>
				</div>
				{% if form_edit_user %}
					<button class="btn btn-xs btn-info" title="Editar datos" data-toggle="modal" data-target="#editUser"><i class="fa fa-pencil"></i></button>
				{% endif %}
			</div>
		</div>
		
		{% if form_change_pass %}
			<hr />
			<div class="card">
				<div class="card-body">
					<button class="btn btn-warning" title="Editar contraseña" data-toggle="modal" data-target="#editContrasena"><i class="fa fa-key"></i> Editar contraseña</button>
				</div>
			</div>
		{% endif %}
	</div>
</div>
<hr />
<div class="col-md-12">
	<div class="card">
		<div class="card-body">
			
			<h3>{% trans "Productos registrados" %}</h3>
			{% if user.is_superuser %}
				<button class="btn btn-success" data-toggle="modal" data-target="#addProducto" title="Añadir producto al usuario"><i class="fa fa-plus"></i> {% trans "Añadir producto" %}</button>
			{% endif %}
			{% if not user.is_superuser %}
				<button class="btn btn-success" data-toggle="modal" data-target="#addProducto" title="Solicitar producto nuevo"><i class="fa fa-plus"></i> {% trans "Solicitar producto" %}</button>
			{% endif %}
			<hr />
			{% if productos|length > 0 %}
			<div class="table-responsive">
				<table class="table table-stripped">
					<thead>
						<tr>
							<th>{% trans "Producto" %}</th>
							<th>{% trans "Cod Ingreso app" %}</th>
							<th>URL app</th>
						  <th>{% trans "Nro inicios" %}</th>
							{% if user.is_superuser %}
								<th>{% trans "Cod lectura" %}</th>
								<th>{% trans "Cod escritura" %}</th>
								<th>{% trans "Operaciones" %}</th>
							{% endif %}
						</tr>
					</thead>
					<tbody>
						{% for prod in productos %}
							<tr>
								<td>{{ prod.producto }}</td>
								<td>{{ prod.codigo_login }}</td>
								<td><a href="{{ prod.url }}" target="blank">{{ prod.url }}</a></td>
							  <td>{{ prod.nro_sesion }}</td>
								{% if user.is_superuser %}
									<td>{{ prod.codigo_lectura.code }}</td>
									<td>{{ prod.codigo_escritura.code }}</td>
									<td>
										<button class="btn btn-sm btn-warning edit_producto" id="{{ prod.pk }}" data-toggle="modal" data-target="#editProducto" title="{% trans "Editar producto del usuario" %}"><i class="fa fa-pencil"></i></button>
										<button class="btn btn-sm btn-danger delete_producto" id="{{ prod.pk }}" data-toggle="modal" data-target="#deleteProducto" title="{% trans "Eliminar producto del usuario" %}"><i class="fa fa-eraser"></i></button>
									</td>
								{% endif %}
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% else %}
				{% trans "No hay productos registrados." %}
			{% endif %}
		</div>
	</div>
</div>


{% endblock %}
