{% extends "structure.html" %}
{% load bootstrap4 %}
{% block content_body %}
{% load i18n %}


<div class="modal fade" id="addProducto">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">a
				<h4 class="modal-title">{% trans "Añadir producto al usuario" %}</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<form method="post" action="{{ form_action }}" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="modal-body">
					<div class="row justify-content-start">
					{% for field in add_producto_form %}
						{% bootstrap_field field form_group_class="col-md-12" label_class="col-md-4" field_class="col-md-8" size="small" layout="horizontal" %}
					{% endfor %}
					</div>
				</div>
				<div class="modal-footer">
					<input type="hidden" name="tipoForm" value="addData">
					<input type="hidden" name="tipoEdit" value="add_producto">
					<input type="hidden" name="usuario" value="{{ selected_user.pk }}">
					<button type="submit" class="btn btn-success"><i class="fa fa-save"></i> {% trans "añadir" %}</button>
					<button type="reset" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> {% trans "Cancelar" %}</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="deleteProducto">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">{% trans "Eliminar producto" %}</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<form method="post" action="{{ form_action }}" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="modal-body">
					{% trans "¿Está seguro que desea eliminar este producto?, introduzca la contraseña de seguridad" %}
					<hr />
					<input type="password" class="form-control" name="pass" value="" placeholder="Contraseña de seguridad">
				</div>
				<div class="modal-footer">
					<input type="hidden" name="tipoForm" value="removeData">
					<input type="hidden" name="tipoDelete" value="delete_producto">
					<input type="hidden" name="usuario" value="{{ selected_user.pk }}">
					<input type="hidden" id="producto_id_id" name="producto" value="">
					<button type="submit" class="btn btn-danger"><i class="fa fa-save"></i> {% trans "Eliminar" %}</button>
					<button type="reset" class="btn btn-info" data-dismiss="modal"><i class="fa fa-ban"></i> {% trans "Cancelar" %}</button>
				</div>
			</form>
		</div>
	</div>
</div>


<div class="modal fade" id="editProducto">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">{% trans "Modificar códigos" %}</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<form method="post" action="{{ form_action }}" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="modal-body">
					{% trans "Esta acción modificará los códigos de ingreso, lectura y escritura, ¿está seguro de realizar esta acción?" %}
					<hr />
					<input type="password" class="form-control" name="pass" value="" placeholder="Contraseña de seguridad">
				</div>
				<div class="modal-footer">
					<input type="hidden" name="tipoForm" value="editData">
					<input type="hidden" name="tipoEdit" value="edit_producto">
					<input type="hidden" name="usuario" value="{{ selected_user.pk }}">
					<input type="hidden" id="producto_id_id_edit" name="producto" value="">
					<button type="submit" class="btn btn-info"><i class="fa fa-save"></i> {% trans "Modificar" %}</button>
					<button type="reset" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> {% trans "Cancelar" %}</button>
				</div>
			</form>
		</div>
	</div>
</div>



<!--form method="post" action="{{url}}">
	{% csrf_token %}

	{{ form_user.media }}
	<div class="row justify-content-start">
		{% for field in form_user %}
			{% bootstrap_field field form_group_class="col-md-12" field_class="col-md-12" size="small" %}
		{% endfor %}
	</div>
	<hr />
	<input type="hidden" name="tipoForm" value="editData">
	<input type="hidden" name="object_id" value="{{ selected_user.pk }}">
    {% buttons %}
		<button class="btn btn-success" type="submit"><i class="fa fa-save"></i> Save data</button>
	{% endbuttons %}
</form-->

<h2>{{ selected_user.get_full_name }}</h2>
<hr />
<div class="container">
	<div class="row show-grid">
		<div class="col-md-6"><span class="show-grid-block"><b>{% trans "Nombre de usuario" %}: </b></span>{{ selected_user.username }}</span></div>
		<div class="col-md-6"><span class="show-grid-block"><b>{% trans "Género" %}: </b>{{ selected_user.sexo }}</span></div>
	</div>

	<div class="row show-grid">
		<div class="col-md-6"><span class="show-grid-block"><b>{% trans "Fecha ingreso" %}: </b>{{ selected_user.date_joined|date:"M, d Y" }}</span></div>
		<div class="col-md-6"><span class="show-grid-block"><b>{% trans "Email" %}: </b>{{ selected_user.email }}</span></div>
	</div>

	<div class="row show-grid">
		<div class="col-md-6"><span class="show-grid-block"><b>{% trans "Celular 1" %}: </b>{{ selected_user.celular1 }}</span></div>
		<div class="col-md-6"><span class="show-grid-block"><b>{% trans "Celular 2" %}: </b>{{ selected_user.celular2 }}</span></div>
	</div>
</div>
<hr />


<h3>{% trans "Productos registrados" %}</h3>
{% if user.is_superuser %}
	<button class="btn btn-success" data-toggle="modal" data-target="#addProducto" title="Añadir producto al usuario"><i class="fa fa-plus"></i> {% trans "Añadir producto" %}</button>
{% endif %}
{% if not user.is_superuser %}
	<button class="btn btn-success" data-toggle="modal" data-target="#addProducto" title="Solicitar producto nuevo"><i class="fa fa-plus"></i> {% trans "Solicitar producto" %}</button>
{% endif %}
<hr />
{% if productos|length > 0 %}
<div class="table-responsive">
	<table class="table table-stripped">
		<thead>
			<tr>
				<th>{% trans "Producto" %}</th>
				<th>{% trans "Cod Ingreso app" %}</th>
				<th>URL app</th>
			  <th>{% trans "Nro inicios" %}</th>
				{% if user.is_superuser %}
					<th>{% trans "Cod lectura" %}</th>
					<th>{% trans "Cod escritura" %}</th>
					<th>{% trans "Operaciones" %}</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for prod in productos %}
				<tr>
					<td>{{ prod.producto }}</td>
					<td>{{ prod.codigo_login }}</td>
					<td><a href="{{ prod.url }}" target="blank">{{ prod.url }}</a></td>
				  <td>{{ prod.nro_sesion }}</td>
					{% if user.is_superuser %}
						<td>{{ prod.codigo_lectura.code }}</td>
						<td>{{ prod.codigo_escritura.code }}</td>
						<td>
							<button class="btn btn-sm btn-warning edit_producto" id="{{ prod.pk }}" data-toggle="modal" data-target="#editProducto" title="{% trans "Editar producto del usuario" %}"><i class="fa fa-pencil"></i></button>
							<button class="btn btn-sm btn-danger delete_producto" id="{{ prod.pk }}" data-toggle="modal" data-target="#deleteProducto" title="{% trans "Eliminar producto del usuario" %}"><i class="fa fa-eraser"></i></button>
						</td>
					{% endif %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% else %}
	{% trans "No hay productos registrados." %}
{% endif %}

<hr />
{% endblock %}
